html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    height: 100%;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    height: 100%;
}

div#react-root {
    height: 100%;
}

div#topmost {
    height: 100%;
}

div#main-layout {
    height: 100%;
    /*background-image: url('https://c2.staticflickr.com/4/3246/2313474428_6ff9749ae1_b.jpg');*/
    /*background-image: url('/images/bg.jpg');*/
    background-size: 100% 100%;
    background-attachment: fixed;
}

#outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

#popOut{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#nav-header{
  width: 100%;
}

#nav-out{
  margin-bottom: 10px;
  margin-left: 1%;
}

#brandLogo{
  width: 175px;
}

#lgbtn{
  margin-left: 1%;
  border-width: 2px;
  border-color: black;
}

#lgbtn:hover{
  border-width: 2px;
  border-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#labelSignUp{
  text-align: right;
  font-family: 'Slabo 27px', serif !important;
  margin-top: 1.25%;
}

#errorLabel{
  text-align: center;
  font-family: 'Slabo 27px', serif !important;
  margin-top: 1.25%;
  color: red;
}

#errorLabelLeft{
  text-align: left;
  font-family: 'Slabo 30px', serif !important;
  margin-top: 1.25%;
  color: red;
}

#errorLabelCenter{
  text-align: center;
  font-family: 'Slabo 50px', serif !important;
  margin-top: 1.25%;
  color: red;
  height: 70%;
}

#btn{
  margin-left: 10px;
  border-width: 2px;
  border-color: black;
}

#btn:hover{
  margin-left: 10px;
  border-width: 2px;
  border-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#innerSignup {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#labelCategory{
  text-align: right;
  font-family: 'Slabo 27px', serif !important;
  margin-top: 2%;
}

#searchOpt{
  text-align: center;
  margin-top: 1.1%;
}

#topbar{
  margin-top: .8%;
  margin-left: -1.5%;
}

#optbtn{
  border-width: 2px;
  border-color: black;
}

#optbtn:hover{
  border-width: 2px;
  border-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#searchPopOut{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  height: 85%;
}

#searchBox {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 85%;
}


#addPopOut{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: auto;
  margin-right: auto;
  height: 85%;
}

#addBox {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 85%;
}

#addbtn{
  margin-left: 31%;
  border-width: 2px;
  border-color: black;
}

#addbtn:hover{
  border-width: 2px;
  border-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#verticalLine{
  border-right: 1px solid #ccc;
  height: 300px;
}

#third{
  height: 300px;
}

#labelAddTranslation{
  text-align: left;
  font-family: 'Slabo 27px', serif !important;
  margin-top: 3%;
  width: 50%;
}

#inputAddTranslation{
  width: 50%;
}

#addTranslationFormGroup{
  height: 250px;
  max-height: 250px;
  overflow-y: scroll;
}

#addTranslationFormGroup2{
  margin-top: 5%;
  height: 218px;
  max-height: 218px;
  overflow-y: scroll;
}

#addImage{
  margin-left: 5%;
  border-width: 2px;
  border-color: black;
  display: block;
  margin: auto;
  width: 25%;
}

#addImage:hover{
  margin-left: 5%;
  border-width: 2px;
  border-color: black;
  display: block;
  margin: auto;
  width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#image {
  width: 50%;
  height: 80%;
  display: block;
  margin-top: 6%;
}

#imageThmbnail{
  height: 250px;
}



#imageT {
  width: 60%;
  height: 70%;
  display: block;
  margin-top: 13%;
}

#imageThmbnail:hover{
  border-width: 2px;
  border-color: black;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#addImageT{
  margin-left: 5%;
  border-width: 2px;
  border-color: black;
  display: block;
  margin: auto;
  width: 50%;
}

#addImageT:hover{
  margin-left: 5%;
  border-width: 2px;
  border-color: black;
  display: block;
  margin: auto;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#searchResultsImage{
  height: 125px;
}

#indi:hover{
  margin-left: 5%;
  border-width: 2px;
  border-color: black;
  display: block;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#labelView{
  text-align: center;
  font-family: 'Slabo 27px', serif !important;
  width: 100%;
}

#labelContributed{
  text-align: center;
  font-family: 'Slabo 20px', serif !important;
  width: 100%;
}

#labelCategories{
  text-align: center;
  font-family: 'Slabo 17px', serif !important;
  width: 100%;
}

#labelContact{
  text-align: center;
  font-family: 'Slabo 15px', serif !important;
  width: 100%;
  color: blue;
}

#errorPanelBody{
  width: 100%;
  height: 100%;
}


#modalImage{
  max-width:100%;
  max-height:100%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  float: left;
  border-right: 1px solid #ccc;
}

#modalImage:hover{
  max-width:100%;
  max-height:100%;
  margin-right: auto;
  margin-left: auto;
  border-width: 2px;
  border-color: black;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#modalButton{
  float: right;
}

#modalContent{
  height: inherit;
  max-width:100%;
  max-height:inherit;
  margin-right: auto;
  margin-left: auto;
  display: block;
  float: right;
}

#modalDivider{
  border-right: 1px solid #ccc;
}
